* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #333;
}
h1 {
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    color: #333;
}
h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    text-transform: uppercase;
    color: #15c19b;
}
h3 {
    font-size: 36px;
    line-height: 36px;
    color: #333;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
h4 {
    font-size: 24px;
    line-height: 30px;
}
p {
    font-size: 17px;
    line-height: 30px;
    color: #333;
}
a:focus,
a:active {
    outline: none;
    text-decoration: none;
}
section {
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0;
}
.white-bg {
    background-color: #fff;
}
.white-bg h3,
.black-bg h3 {
    color: #4acbae;
}
.black-bg {
    background-color: #000;
    color: #fff;
}
.black-bg h4 {
    color: #4acbae;
}
.black-bg p {
    color: #999999;
}
/* Buttons */
.orange-btn {
    background-color: #ff6700;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    -o-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: inline-block;
    border: 0;
}
.orange-btn:hover,
.orange-btn:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
    background-color: #ff4400;
}
.small-btn {
    font-size: 13px;
    line-height: 13px;
}
.medium-btn {
    font-size: 18px;
    line-height: 18px;
}
.big-btn {
    font-size: 24px;
    line-height: 24px;
}

#top-bar {
    width: 100%;
    position: fixed;
    height: 85px;
    z-index: 10;
    background-color: #fff;
}
#top-bar .logo {
    line-height: 85px;
}
#top-bar ul li {
    display: inline-block;
    padding: 0 5px;
    line-height: 85px;
}
#top-bar .contacts {
    text-align: center;
    padding-top: 10px;
}
#top-bar .contacts p.phone {
    color: #ff6700;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 5px;
}
#top-bar .contacts p.phone i {
    padding-left: 5px;
    font-size: 18px;
}
#top-bar-mobile {
    position: fixed;
    float: left;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    border-bottom: solid 1px #dbdbdb;
}
#top-bar-mobile .logo img {
    width: 100%;
}
nav#slide-menu {
    position: fixed;
    top: 100px;
    right: -1040px;
    background-color: #fff;
    bottom: 0;
    display: block;
    float: right;
    width: 100%;
    height: 100%;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    z-index: 9;
    padding: 0 30px;
    text-align: center;
}
nav#slide-menu.active {
    right: 0;
        box-shadow: 1px 0 10px #dbdbdb;
}
nav#slide-menu ul {
    padding-top: 130px;
}
nav#slide-menu ul li {
    list-style: none;
    padding: 5px 0;
}
nav#slide-menu ul li:hover {
    background-color: #3682DA;
}
nav#slide-menu ul li:hover a {
    color: #fff;
}
nav#slide-menu ul li:hover a:hover {
    color: #fff;
    text-decoration: none;
}
nav#slide-menu ul li a:hover,
nav#slide-menu ul li a:focus,
nav#slide-menu ul li a:active {
    text-decoration: none;
}
#top-bar-mobile .menu-trigger {
    position: relative;
    background: url(../img/icon/ic_menu_black_24px.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    padding-top: 50px;
}
#top-bar-mobile .close-menu {
    position: relative;
    background: url(../img/icon/ic_close_black_24px.svg) no-repeat center center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}
#header-wrapper {
    margin-top: 125px;
}
#header-wrapper h1,
#header-wrapper h2 {
    margin-bottom: 25px;
}
#header-wrapper p.slogan {
    font-size: 17px;
    line-height: 24px;
    color: #7f7f80;
    margin-bottom: 35px;
}
#header-wrapper .price-wrapper .new-price {
    color: #15c19b;
    font-size: 52px;
    line-height: 52px;
    position: relative;
    float: left;
    padding-right: 15px;
    width: 100%;
}
#header-wrapper .price-wrapper .old-price {
    color: #000;
    font-size: 30px;
    line-height: 50px;
    position: relative;
    float: left;
    text-decoration: line-through;
    width: 100%;
    margin-bottom: 30px;
}
#header-wrapper .order-btn-wrapper {
    text-align: left;
}
header {
    width: 100%;
    position: relative;
    float: left;
    padding: 0 0 50px 0;
    background: rgba(221,223,229,1);
background: -moz-linear-gradient(top, rgba(221,223,229,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(221,223,229,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(221,223,229,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(221,223,229,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(221,223,229,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(221,223,229,1) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddfe5', endColorstr='#ffffff', GradientType=0 );
}
header .main-image {
    width: 100%;
    max-width: 537px;
    margin: 0 auto;
}
#countdown-wrapper {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 30px;
}
.countdown-wrapper-text {
    float: right;
    border-right: solid 1px #dbdbdb;
    padding: 20px 100px 20px 0;
}
.countdown-wrapper-text p {
    font-size: 48px;
    line-height: 48px;
}
.countdown-wrapper-text p span {
    color: #ff6700;
}
.countdown-wrapper-text p.small-text {
    font-size: 24px;
    line-height: 24px;
}
.countdown-wrapper-timer {
    padding: 20px 0;
}
.countdown-wrapper-timer p:first-child {
    color: #949495;
    text-align: center;
    margin-left: -25px;
}

#section-01 {
    background: url(../img/section-01.jpg) no-repeat center center;
    padding: 100px 0;
}
#section-01 h4 {
    font-size: 24px;
    line-height: 30px;
    color: #4acbae;
}
#section-01 h4:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
#section-01 p {
    color: #999999;
    margin-bottom: 20px;
}

#section-02 .char-item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
#section-02 .left-side .char-item {
    text-align: right;
    position: relative;
    float: left;
}
#section-02 .right-side .char-item {
    text-align: left;
    position: relative;
    float: left;
}
#section-02 .left-side .char-item .icon {
    margin-left: 15px;
    position: absolute;
    top: 0;
    right: 0;
}
#section-02 .right-side .char-item .icon {
    margin-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
}
.char-item.small-text {
    min-height: 10px;
}
.char-item.middle-text {
    min-height: 10px;
}
.char-wrapper {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 30px;
}
.char-wrapper .illustration {
    padding-top: 20px;
}
.char-wrapper .illustration img {
    width: 100%;
    max-width: 391px;
}
#section-02 .text-content.second-line {
    margin-top: 20px;
}
#section-02 .text-content .char-item .title{
    font-size: 24px;
    line-height: 24px;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
}
#section-02 .left-side .char-item .title {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    float: left;
    width: 100%;
    padding-right: 60px;
    margin-bottom: 25px;
    text-align: right;
}
#section-02 .right-side .char-item .title {
    font-size: 24px;
    line-height: 24px;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 60px;
    margin-bottom: 25px;
    text-align: left;
}
#section-02 .text-content .char-item .text {
    text-align: center;
}
#section-02 .left-side .char-item .text {
    width: 100%;
    text-align: right;
}
#section-02 .right-side .char-item .text {
    width: 100%;
    text-align: left;
}

.table-wrapper {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 50px;
}
.table-wrapper table {
    width: 100%;
}
.table-wrapper table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
.table-wrapper table tr td {
    width: 50%;
    font-size: 17px;
    line-height: 30px;
    padding: 0 15px;
}
.table-wrapper table tr td:last-child {
    text-align: right;
}
.order-btn-wrapper {
    width: 100%;
    text-align: center;
}

#section-03 {
    text-align: center;
    background: url(../img/section-03.jpg) no-repeat bottom center;
    height: 620px;
    padding-top: 100px;
    overflow: hidden;
}
#section-03 h4:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #333;
    margin: 20px auto;
}
.light {
    background: url(../img/sh-02-c.png) no-repeat center center;
    width: 1001px;
    height: 250px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -490px;
    animation: light 1s linear infinite;
    -o-animation: light 1s linear infinite;
    -moz-animation: light 1s linear infinite;
    -webkit-animation: light 1s linear infinite;
}
@keyframes light {
	0% {opacity:.6;filter:alpha(opacity=60)\9;filter:alpha(opacity=60);}
	50% { opacity:1; filter:alpha(opacity=100)\9; filter:alpha(opacity=100); }
	100% { opacity:.6; filter:alpha(opacity=60)\9; filter:alpha(opacity=60); }
}

#section-04 {
    padding: 0;
}
.info-wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 564px;
}
.info-wrapper .right-side {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
}
.info-wrapper .left-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.info-wrapper .content-wrapper {
    padding: 150px 30px;
}
.info-wrapper .content-wrapper h4 {
    font-size: 27px;
    line-height: 27px;
    color: #4acbae;
    margin: 0;
}
.info-wrapper .content-wrapper h4:after {
    content: "";
    display: block;
    width: 50px;
    height: 1px;
    background-color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
.info-wrapper .content-wrapper p {
    font-size: 17px;
    line-height: 30px;
}
.info-01 {
    background: url(../img/info-01.jpg) no-repeat right center;
    width: 100%;
    height: 564px;
}
.info-02 {
    background: url(../img/info-02.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}
.info-03 {
    background: url(../img/info-03.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}
.info-04 {
    background: url(../img/info-04.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}
.info-05 {
    background: url(../img/info-05.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}
.info-06 {
    background: url(../img/info-06.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}
.info-07 {
    background: url(../img/info-07.jpg) no-repeat left center;
    width: 100%;
    height: 564px;
}
.info-08 {
    background: url(../img/info-08.jpg) no-repeat center center;
    width: 100%;
    height: 564px;
}

#section-05 {
    background: url(../img/video-bg.jpg) no-repeat center center;
    height: 590px;
}

#app-block p {
    text-align: center;
}
#app-block .about-text {
    margin-bottom: 30px;
}
.app-item {
    text-align: center;
}
.app-item h4 {
    color: #4acbae;
}
.app-item img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 20px;
}

#section-06 .we-work-item {
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 80px;
}
#section-06 .we-work-item .icon {
    text-align: center;
    margin-bottom: 30px;
}
#section-06 .we-work-item .title {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 20px;
}
.delivery-text-wrapper:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #333;
    margin-bottom: 30px;
}
.delivery-text-wrapper {
    text-align: center;
}

#section-07 {
    background: url(../img/warranty-bg.jpg) no-repeat center center;
}
#section-07 .warranty-item {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 40px;
    padding-right: 20px;
}
#section-07 .warranty-item .icon {
    position: relative;
    float: left;
    margin-right: 15px;
}
#section-07 .warranty-item .title {
    font-size: 27px;
    line-height: 50px;
    color: #15c19b;
    margin-bottom: 15px;
}

/* Review Carousdel */
#section-08 .owl-carousel .owl-item .item .review-image {
    width: 15%;
    position: relative;
    float: left;
}
#section-08 .owl-carousel .owl-item .item .review-content {
    width: 85%;
    position: relative;
    float: left;
    padding-left: 30px;
}
#section-08 .owl-carousel .owl-item .item .review-content .review-name {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
}
#section-08 .owl-carousel .owl-item .item .review-content .review-name span {
    font-size: 16px;
}
#section-08 .owl-carousel .owl-nav {
    width: 100%;
    position: absolute;
    top: 50px;
}
#section-08 .owl-carousel .owl-nav .owl-prev {
    margin-left: -100px;
    position: relative;
    float: left;
    opacity: 0.7;
}
#section-08 .owl-carousel .owl-nav .owl-next {
    margin-right: -100px;
    position: relative;
    float: right;
    opacity: 0.7;
}
#section-08 .owl-carousel .owl-nav .owl-prev:hover,
#section-08 .owl-carousel .owl-nav .owl-next:hover {
    opacity: 1;
}

footer {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fcfcfc;
    padding: 50px 0 30px 0;
}
footer .order-btn-wrapper {
    width: 100%;
    position: relative;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
footer p.copyright {
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
}

/*Countdown*/
.countdown-wrapper {
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: solid 3px #ff0000;
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
.countdown-wrapper p {
    font-size: 24px;
    line-height: 24px;
    color: #333;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.countdown-wrapper p span {
    color: #ff0000;
}
#countdown {
    width: 254px;
    font-size: 30px;
    line-height: 30px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#countdown .number {
    position: relative;
    float: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 15px;
}
#countdown span {
    position: relative;
    float: left;
    font-size: 60px;
    padding: 10px;
}
#countdown .sub_text {
    text-align: center;
    position: absolute;
    bottom: -30px;
    font-size: 24px;
    line-height: 24px;
}
#countdown .sub_text:first-child {
    padding-left: 5px;
}

/* Modals */
.form-button-wrapper {
    text-align: center;
}
.modal-body p {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 25px;
}
.modal-body input {
    font-size: 16px;
}
p.anotation {
    font-size: 12px;
    line-height: 12px;
    margin-top: 40px;
}


.clock>div {
    width: 60px;
    border: none !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.day, .hour, .min {
    position: relative;
    float: left;
    margin: 0 5px;
}
.min {
    width: 60px !important;
}
.clock>div>p {
    display: block;
    width: 40px;
    line-height: normal;
    text-align: center;
    font-size: 60px;
    color: #333 !important;
    margin-left: 0 !important;
}
.timer_wrap {
    position: relative;
    width: 290px;
    margin: 0 auto;
}
.day2, .hour2, .min2 {
    margin-left: 15px;
}
.sub-text {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
}
.countdown-wrapper-timer p:first-child {
    color: #949495;
    text-align: center;
    margin-left: -25px;
}
p.separate {
    position: relative;
    float: left;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
}